.App {
  position: static;
  text-align: center;
  height: auto;
}

.App-Head{
  background-color: #3e4147;
  width: 100vw;
  color: gray;
}

.App-Title {
  margin: 0;
  font-size: 25px;
}

.Card-Conversion {
  background-color: blueviolet;
  margin: 1px;
}

.App-Content {
  display: flex;
  padding: 5px;
}