.App {
  position: static;
  text-align: center;
  height: auto;
}

.App-Head{
  background-color: #3e4147;
  width: 100vw;
  color: gray;
  font-size: calc(10px + 2vmin);
}

.App-Title {
  margin: 0;
}

.Card-Conversion {
  background-color: blueviolet;
  margin: 1%;
}

.App-Content {
  display: flex;
  padding: 2%;
}